<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="//unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <script src="//unpkg.com/moment@2.29.1/moment.js"></script>
    <script src="//unpkg.com/jszip@3.1.5/dist/jszip.min.js"></script>
    <script src="//unpkg.com/papaparse@5.3.1/papaparse.min.js"></script>

    <link rel="stylesheet" data-name="vs/editor/editor.main" href="//cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/editor/editor.main.min.css">
    <script>var require = { paths: { 'vs': '//cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs' } };</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/loader.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/editor/editor.main.nls.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/editor/editor.main.js"></script>

    <link rel="stylesheet" href="//unpkg.com/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="app" class="container mt-3">
        <ol>
            <li>Acesse <a href="https://www.linkedin.com/psettings/member-data" target="_blank">https://www.linkedin.com/psettings/member-data</a> e baixe o arquivo zip.</li>
            <li>Faça upload no campo abaixo.</li>
            <li>A aplicação vai gerar um arquivo <code>linkedin.json</code>. Mova-o para dentro da pasta <code>/json</code> sem renomear.</li>
        </ol>

        <div class="text-center py-5 bg-light" style="border:dashed 3px #eee;" @click="uploadBrowser" @drop.prevent="onDrop" @dragover.prevent>
            <div class="py-5 text-center">Solte aqui</div>
        </div>

        <div class="text-center mt-3" v-if="linkedin">
            <a href="javascript:;" class="btn btn-success" @click="linkedinJsonDownload()">
                <i class="fa fa-fw fa-download"></i> Download
            </a>
        </div>

        <ui-code v-model="JSON.stringify(linkedin, 2, ' ')" class="mt-3" v-bind="{language:'json'}"></ui-code>
    </div>

    <script>
    Vue.component("ui-code", {
        template: `<div>
            <div ref="monaco" style="width:100%; min-height:100px;"></div>
            <textarea :name="name" v-model="props.value" style="display:none;"></textarea>
        </div>`,

        props: {
            value: {default:""},
            language: {default:"html"},
            name: {default:""},
            readOnly: {default:false},
        },

        watch: {
            $props: {deep:true, handler(value) {
                if (this.$el.contains(document.activeElement)) return;
                this.props = JSON.parse(JSON.stringify(value));
                this.monaco.getModel().setValue(this.props.value);
            }},
        },

        data() {
            return {
                monaco: false,
                props: JSON.parse(JSON.stringify(this.$props)),
            };
        },

        methods: {
            emitValue() {
                this.$emit('input', this.props.value);
                this.$emit('value', this.props.value);
                this.$emit('change', this.props.value);
            },

            monacoInit() {
                this.monaco = window.monaco.editor.create(this.$refs.monaco, {
                    value: this.props.value,
                    language: this.props.language,
                    theme: 'vs-dark',
                    automaticLayout: true,
                    readOnly: this.props.readOnly,
                });

                this.monaco.getModel().onDidChangeContent(evt => {
                    this.props.value = this.monaco.getModel().getValue();
                    this.emitValue();
                    this.monacoResize();
                });

                this.monacoResize();
            },

            monacoResize() {
                let lines = this.monaco.getModel().getValue().split("\n").length;

                this.monaco.layout({
                    width: this.$refs.monaco.offsetWidth,
                    height: ((lines*20)+10),
                });
            },
        },

        mounted() {
            this.monacoInit();
        },
    });

    new Vue({
        el: "#app",

        data() {
            return {
                linkedin: false,
            };
        },

        methods: {
            linkedinParse(linkedin) {
                linkedin.PhoneNumbers = (linkedin.PhoneNumbers||[]).filter(item => item.Number);
                linkedin.PhoneNumbers = linkedin.PhoneNumbers.map(item => {
                    item.Number = item.Number.trim();
                    item.Whatsapp = 'https://web.whatsapp.com/send?phone='+item.Number.replace(/[^0-9]/g, '');
                    item.Link = 'tel:'+item.Number.replace(/[^0-9]/g, '');
                    return item;
                });

                linkedin.Positions = (linkedin.Positions||[]).filter(item => item.Company_Name);
                linkedin.Skills = (linkedin.Skills||[]).filter(item => item.Name);

                linkedin.Skills = linkedin.Skills.map(item => {
                    let percents = {
                        "Laravel": 80,
                        "Javascript": 85,
                        "Vue.js": 90,
                        "PHP": 90,
                        "WordPress": 95,
                        "MySQL": 80,
                        "JQuery": 90,
                        "CSS3": 85,
                        "Bootstrap": 85,
                        "HTML5": 95,
                        "Firebase": 70,
                        "Git": 65,
                        "APIs": 95,
                        "Nuxt.js": 85,
                        "Unity": 55,
                    };

                    item.percent = percents[item.Name] || 50;
                    return item;
                });

                linkedin.Socials = [
                    {
                        name: "LinkedIn",
                        icon: "fa fa-fw fa-linkedin",
                        url: "https://www.linkedin.com/in/jeferson-siqueira/",
                    },
                    {
                        name: "Github",
                        icon: "fa fa-fw fa-github",
                        url: "https://github.com/jeff-silva",
                    },
                    {
                        name: "Whatsapp",
                        icon: "fa fa-fw fa-whatsapp",
                        url: "https://wa.me/message/NG7A2SW25XIEI1",
                    },
                    {
                        name: "Telefone",
                        icon: "fa fa-fw fa-phone",
                        url: "tel:+5531995271426",
                    },
                    {
                        name: "E-mail",
                        icon: "fa fa-fw fa-envelope",
                        url: "mailto:jeferson.i.silva@gmail.com",
                    },
                ];

                linkedin.Profile = linkedin.Profile[0];
                linkedin.Profile.name = `${linkedin.Profile.First_Name} ${linkedin.Profile.Last_Name}`;
                return linkedin;
            },

            linkedinJsonDownload() {
                if (!this.linkedin) return;
                Object.assign(document.createElement('a'), {
                    href: "data:application/octet-stream,"+ encodeURI(JSON.stringify(this.linkedin, 4, ' ')),
                    download: "linkedin.json",
                }).click();
            },

            parseFile(file) {
                let zip = new JSZip();
                let only = ["PhoneNumbers.csv", "Positions.csv", "Profile.csv", "Skills.csv", "Projects.csv"];

                let f = new FileReader();
                f.onload = ev => {
                    JSZip.loadAsync(ev.target.result).then(zip => {
                        let promises = [];

                        for(let i in zip.files) {
                            if (only.indexOf(i)<0) continue;
                            promises.push(new Promise((resolve, reject) => {
                                let zfile = zip.files[i];
                                zip.file(i).async("string").then(csv => {
                                    csv = this.csvToJson(csv);
                                    if (typeof csv!='object') return;
                                    resolve({
                                        name: i.replace('.csv', '').replace(/\s/g, '_'),
                                        value: csv,
                                    });
                                });
                            }));
                        }

                        Promise.all(promises).then(values => {
                            let linkedin = {};
                            values.forEach(item => {
                                linkedin[item.name] = item.value;
                            });

                            this.linkedin = this.linkedinParse(linkedin);
                        });
                    });
                };
                f.readAsArrayBuffer(file);
            },

            uploadBrowser() {
                Object.assign(document.createElement('input'), {
                    type: "file",
                    onchange: (ev) => {
                        for(let i in ev.target.files) {
                            let file = ev.target.files[i];
                            if (typeof file != 'object') continue;
                            this.parseFile(file);
                        }
                    }
                }).click();
            },

            onDrop(ev) {
                for(let i in ev.dataTransfer.files) {
                    let file = ev.dataTransfer.files[i];
                    if (typeof file != 'object') continue;
                    this.parseFile(file);
                }
            },

            csvToJson(csv) {
                let items = Papa.parse(csv).data;
                let headers = items.shift();
                return items.map(values => {
                    let o = {};
                    for(let i in values) {
                        let name = headers[i].replace(/\s/g, '_');
                        o[name] = values[i];
                    }
                    return o;
                });
            },
        },
    });
    </script>
</body>
</html>