---
title: Portfolio
layout: default
---

{% for portfolio in site.portfolio %}
  <h2>{{ portfolio.title }}</h2>
  Ano: {{ portfolio.year }} <br />
  Tags:
  {% for tag in portfolio.tags %}
  {{ tag }}
  {% endfor %}
  <hr />
{% endfor %}

<hr />

<form action="https://formspree.io/guitarsolo92@gmail.com" method="POST" target="_blank" enctype="multipart/form-data">
  
	<div class="form-control">
		<label>Nome</label>
		<input type="text" name="name" class="form-control">
	</div>

	<div class="form-control">
		<label>E-mail</label>
		<input type="text" name="_replyto" class="form-control">
	</div>

	<div class="form-control">
		<label>Upload</label>
		<input type="file" name="upload" class="form-control">
	</div>

	<div class="panel-footer text-right">
		<input type="submit" value="Send" class="btn btn-success">
	</div>
    
</form>

<hr />

<pre>{{ site.data.cv | jsonify }}</pre>
