	<title>{{ page.title }}</title>

	{% if base %} 
	<base href="{{ page.base }}">
	{% endif %}

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<meta name="description" content="{{ page.meta_description }}" />
	<meta name="keywords" content="{{ page.meta_keywords }}"/>
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.meta_description }}" />
	<meta property="twitter:title" content="{{ page.title }}" />
	<meta property="twitter:description" content="{{ page.meta_description }}" />
	<meta name="author" content="Jeferson Inácio" />

	<!-- JQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Font awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
