<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clockify</title>

  <!-- Axios -->
  <script src="https://unpkg.com/axios@1.2.0/dist/axios.min.js"></script>

  <!-- Vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/vue-router@4.1.6/dist/vue-router.global.js"></script>

  <!-- Vueuse -->
  <script src="https://unpkg.com/@vueuse/shared"></script>
  <script src="https://unpkg.com/@vueuse/core"></script>

  <!-- Vuetify -->
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.0.6/dist/vuetify.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.0.6/dist/vuetify.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">

  <!-- Dayjs -->
  <script src="https://unpkg.com/dayjs@1.11.7/dayjs.min.js"></script>
  <script src="https://unpkg.com/dayjs@1.11.7/locale/en.js"></script>
  <script src="https://unpkg.com/dayjs@1.11.7/plugin/localeData.js"></script>
  <script>dayjs.locale('en'); dayjs.extend(dayjs_plugin_localeData);</script>
  
  <!-- Vuetify+ -->
  <script src="../../assets/js/vue3-vuetify-plus.js"></script>
  
  <!-- Demo menu -->
  <script src="../demo-menu.js"></script>
</head>
<body>
  <div id="app">
    <v-app style="background:#f5f5f5;">
      <vv-app-layout>
        <vv-calendar
          :model-value="$route.query.date || dateDefault"
          @update:model-value="redirectQuery({ date: $event })"
          :dates="clockifyUserTimeEntriesItemsCalendar()"
        >
          <template #day="d">
            <div class="py-4">
              <div class="text-h3">{{ d.day }}</div>

              <v-tooltip>
                <template #activator="{ props }">
                  <div v-bind="props" v-if="d.dates.length>0">
                    {{ (d.dates.map(dd => dd.timeInterval.durationSeconds).reduce((partial, a) => partial+a)/60/60).toFixed(1) }} hours
                  </div>
                </template>

                <div
                  v-for="dd in d.dates"
                >
                  {{ dd.description }}
                </div>
              </v-tooltip>
            </div>
          </template>
        </vv-calendar>

        <v-progress-linear
          indeterminate
          v-if="clockify.userTimeEntries.loading"
        ></v-progress-linear>

        <template #drawer>
          <v-card-title>Clockify</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            Get your access token <a href="https://app.clockify.me/user/settings" target="_blank">here</a>.
            <v-text-field
              label="Access token"
              class="mt-3"
              type="password"
              v-model="storage.token"
            ></v-text-field>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-select
                  label="Workspace"
                  :model-value="$route.query.workspaceId || null"
                  :items="clockify.workspace.items"
                  item-value="id"
                  item-title="name"
                  :loading="clockify.workspace.loading"
                  @update:model-value="redirectQuery({ workspaceId: $event })"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-card>
                  <vv-calendar
                    :model-value="$route.query.date || dateDefault"
                    @update:model-value="redirectQuery({ date: $event })"
                  ></vv-calendar>
                </v-card>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="À receber"
                  v-model="clockify.userTimeEntries.total.amount"
                  :prefix="clockify.userTimeEntries.total.currency"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </template>
      </vv-app-layout>
    </v-app>
  </div>
  <script>
    let clockify = axios.create({
        baseURL: 'https://api.clockify.me/api/v1',
        headers: { 'X-Api-Key': 'MmM1MTVhZjMtM2ZhMS00YWVhLTk0MWYtZjNiY2Q3MDFiZmEw' },
        cache: {
          ttl: 1000 * 60 * 5,
          interpretHeader: false,
          methods: ['get'],
          cachePredicate: { statusCheck: (status) => status >= 200 && status < 400 },
          update: {},
          etag: false,
          modifiedSince: false,
          staleIfError: false
        },
    });
    Vue.createApp({
      watch: {
        $route: {deep:true, handler(value, old) {
          this.clockifyRouteChange(value, old);
        }},

        storage: {deep:true, handler(value) {
          localStorage.setItem('storage', JSON.stringify(value));
        }},
      },
      data() {
        return {
          drawer: true,
          breakpoints: VueUse.useBreakpoints(VueUse.breakpointsVuetify),
          dateDefault: dayjs().format('YYYY-MM-DD'),
          storage: (() => {
            let storage = {};
            try {
              storage = JSON.parse(localStorage.getItem('storage'));
            } catch(err) {}
            return {
              token: '',
              userId: false,
              ...storage
            };
          })(),
          clockify: {
            workspace: {
              loading: false,
              item: false,
              items: [],
            },
            userTimeEntries: {
              loading: false,
              total: {seconds:0, amount:0, currency:'BRL'},
              params: {
                start: '2022-11-30T00:00:00.000z',
                end: '2022-12-31T00:00:00.000z',
              },
              item: false,
              items: [],
            },
          },
        };
      },
      methods: {
        log: console.log,

        axiosInit() {
          axios.interceptors.request.use((config) => {
            if (config.url.startsWith('clockify://')) {
              config.url = config.url.replace('clockify:/', 'https://api.clockify.me/api/v1');
              config.headers['X-Api-Key'] = this.storage.token;
            }

            return config;
          });
        },

        debounce(id, time, callback) {
          window.debounces = window.debounces || {};
          if (window.debounces[id]) clearTimeout(window.debounces[id]);
          window.debounces[id] = setTimeout(callback, time);
        },

        dateFormat(date, format='DD/MM/YYYY - HH:mm') {
          return dayjs(date).format(format);
        },

        clockifyRouteChange(value, old) {
          const start = dayjs(value.query.date).format('YYYY-MM-01T00:00:00.000z');
          this.clockify.userTimeEntries.params.start = start;

          const end = dayjs(value.query.date).endOf('month').format('YYYY-MM-DDT23:59:59.000z');
          this.clockify.userTimeEntries.params.end = end;

          this.clockifyWorkspaceUserTimeEntries();
        },

        async clockifyUser() {
          if (!this.storage.userId) {
            const { data } = await axios.get('clockify://user');
            this.storage.userId = data.id;
          }
        },

        async clockifyWorkspaces() {
          this.clockify.workspace.loading = true;
          const { data } = await axios.get('clockify://workspaces');
          this.clockify.workspace.items = data;
          this.clockify.workspace.loading = false;
          if (data.length==1) {
            this.redirectQuery({ workspaceId: data[0].id });
            this.clockify.workspace.item = data[0];
          }
        },

        async clockifyWorkspaceUserTimeEntries() {
          this.clockify.userTimeEntries.loading = true;
          this.debounce('clockifyWorkspaceUserTimeEntries', 1000, async () => {
            const { workspaceId } = this.$route.query;
            if (!workspaceId) return;
  
            let userTimeEntriesTotal = {
              ...this.clockify.userTimeEntries.total,
              seconds: 0,
              amount: 0,
            };
  
            const { params } = this.clockify.userTimeEntries;
            try {
              const { data } = await axios.get(`clockify://workspaces/${workspaceId}/user/${this.storage.userId}/time-entries`, { params });
    
              this.clockify.userTimeEntries.items = data.map((item) => {
                item.timeInterval.durationSeconds = (() => {
                  if (!item.timeInterval.end) return 0;
                  let diff = dayjs(item.timeInterval.start).diff(item.timeInterval.end);
                  return Math.max(diff, diff*-1) / 1000;
                })();
                
                return item;
              });
            } catch(err) {
              this.clockify.userTimeEntries.items = [];
            }
            this.clockify.userTimeEntries.loading = false;
  
            this.clockify.userTimeEntries.items.forEach((item) => {
              userTimeEntriesTotal.seconds += item.timeInterval.durationSeconds;
            });
  
            const amount = (userTimeEntriesTotal.seconds / 60 / 60) * 13;
            if (amount>0) {
              const { data: currency } = await axios.get(`https://api.exchangerate.host/latest?base=AUD&amount=${amount}`);
              userTimeEntriesTotal.amount = currency.rates.BRL.toFixed(2);
            }
            
            this.clockify.userTimeEntries.total = userTimeEntriesTotal;
          });
        },

        clockifyUserTimeEntriesItemsCalendar() {
          let dates = [];

          this.clockify.userTimeEntries.items.forEach(item => {
            dates.push({ date: item.timeInterval.start, ...item });
          });

          return dates;
        },

        redirectQuery(query={}) {
          query = { ...this.$route.query, ...query };
          this.$router.push({ ...this.$route, query });
        },
      },
      async mounted() {
        this.axiosInit();
        await this.clockifyUser();
        await this.clockifyWorkspaces();
      },
    })
    .use(Vuetify.createVuetify({
      defaults: {
        global: {
          density: 'compact',
        },
        VBtn: { density: 'default' },
        VTextField: {variant: 'outlined', hideDetails:true},
        VSelect: {variant: 'outlined', hideDetails:true},
        VCombobox: {variant: 'outlined', hideDetails:true},
      },
    }))
    .use(VueRouter.createRouter({
      history: VueRouter.createWebHashHistory(),
      routes: [],
    }))
    .use(createVuetifyPlus())
		.mount('#app');
  </script>
</body>
</html>